.topnav {
    background-color: #262341;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        text-transform: uppercase;

        a {
            text-decoration: none;
            color: white;
            
            &:hover {
                color: #f9d94a;
            }
        }
    
        .logo {
            display:  flex;
            align-items: center;
            
            img {
                width: 40px;
                height: auto;
            }
            
            a {
                margin: 0 10px;
                font-size: 20px;
            }
        }
    
        .add-search {
            display: flex;
            align-items: center;
    
            .searchBox {
                background: rgba($color: white, $alpha: .6);
                height: 40px;
                margin-left: 15px;
                border-radius: 40px;
    
                &:hover .searchInput {
                    width: 200px;
                    padding: 0 10px;
                }
    
                &:hover .searchButton {
                    background: rgba($color: white, $alpha: .7);
                    color : rgba($color: black, $alpha: .6);
                }
    
                .searchButton {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    float: right;
                    width: 40px;
                    height: 40px;
                    background: rgba($color: white, $alpha: .5);
                    color: rgba($color: black, $alpha: .6);
                    border: none;
                    border-radius: 50%;
                    transition: 0.4s;
                }
    
                .searchInput {
                    width: 0px;
                    line-height: 40px;
                    padding: 0;
                    float: left;
                    border: none;
                    background: none;
                    outline: none;
                    color: white;
                    font-size: 16px;
                    transition: 0.4s;
                }
            }
        }
    }
}