.sidebar {
    background: rgba($color: white, $alpha: .4);
    color: #555555;
    border-right: 1px solid #dbdbdb;
    text-transform: capitalize;
    animation: opacityChange .8s;

    button {
        padding: 0;
        border: none;
        background: none;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;

            &:first-child {
                border-bottom: 1px solid #dbdbdb;
            }

            .editDelete {
                width: 270px;
                background-color: rgba($color: #000000, $alpha: .1);
                text-align: center;
                animation: opacityChange .5s;
            }
        }
    }

    .addCategory,
    .editCategory {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        padding: 30px 50px;
        background-color: white;
        box-shadow: 0 0 10px lightgrey;
        border-radius: 10px;
        animation: opacityChange .8s;

        h1 {
            margin-bottom: 20px;
            font-size: 25px;
        }

        input {
            display: block;
            margin: 10px 0 5px;
            padding: 3px 16px;
            width: 100%;
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            border-radius: 10px;
            background-color: #fafafa;
            border: 2px solid #f1f1f1;

            &:focus {
                outline: none;
                border: 2px solid #dbdbdb;
            }
        }

        p {
            margin: 0 5px 0;
            font-size: 12px;
            animation: opacityChange .8s;
        }

        button {
            width: 100px;
            margin-top: 20px;
            padding: 8px 16px;
            border-radius: 10px;
            float: right;
            text-transform: capitalize;
            background-color: #4372d9;
            color: white;
            border: none;

            &:hover,
            &:focus {
                background-color: #3f6bca;
            }
        }
    }
}