.notFound {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    color: #555555;

    .col-5 img {
        width: 100%;
        height: auto;
    }

    h1 {
        font-size: 150px;
    }

    h2 {
        font-size: 40px;
    }

    .col-7 {
        text-align: center;
    }

    .back {
        width: 150px;
        display: block;
        padding: 5px 16px;
        margin: 20px auto;
        font-size: 22px;
        text-decoration: none;
        border-radius: 10px;
        text-transform: capitalize;
        background-color: #4372d9;
        border: none;
        color: white;

        &:hover, 
        &:focus {
            background-color: #3f6bca;
        }
    }
}