.notFound {
    text-transform: capitalize;
    text-align: center;
    color: #555555;
    
    > div { 
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        
    }

    img {
        width: 100%;
        height: auto;
    }

    h1 {
        font-size: 150px;
    }

    h2 {
        font-size: 40px;
    }

    .back {
        display: block;
        width: 150px;
        margin: 20px auto;
        padding: 5px 16px;
        border-radius: 10px;
        font-size: 22px;
        text-transform: capitalize;
        background-color: #4372d9;
        color: white;
        text-decoration: none;
        border: none;

        &:hover, 
        &:focus {
            background-color: #3f6bca;
        }
    }
}